@import url('https://fonts.googleapis.com/css?family=Caveat:400,700');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 135px;
  margin-right: 135px;
  margin-top: 20px;

  .navbar-start {
    display: flex;
    width: 37%;
    align-items: center;

    .navbar-logo {
      cursor: pointer;
    }

    .navbar-greeting-message {
      display: flex;
      min-width: 450px;
      justify-content: space-between;

      h2 {
        margin-left: 20px;
        font-size: 43px;
        font-family: 'Caveat', cursive;
      }
      .navbar-greeting-message-strijk {
        color: #D23;
        border: 0.5rem double #D23;
        transform: rotate(17deg);
        -webkit-mask-position: 2rem 3rem;
        font-size: 2rem;
        text-transform: capitalize;
        padding: 5px;
        width: 105px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
  .logout-btn {
    height: 45px !important;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }
  .nav-buttons {
    display: flex;
  }
}
