.form-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 85vh;

  .form-options-selected {
    width: 65%;
  }

  .form-options-buttons {
    position: absolute;
    left: 18vw;
    top: 30vh;
  }

  .form-border {
    border: 3px solid;
    padding: 25px;
    margin: 30px 0;
    color: white;

    label {
      color: white !important;
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.ui.centered.inline.loader.active {
  position: absolute;
  top: 50vh;
  left: 57vw;
}

.form-container {
  position: relative;
  min-height: 100vh;
  margin-bottom: 60px;
  margin-top: 60px;
}

.form-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: auto;
  background-image: url('../../assets/img/back.svg');
  background-size: cover !important;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: brightness(55%);
  height: 68vh;
}

.form-strijk {
  width: 40%;
  margin: 0 auto;
  color: #FFF;
  padding-top: 100px;
  label {
    color: #FFF !important;
  }
}
