.ui.attached.negative.message, .ui.attached.info.message, .ui.negative.message, .ui.info.message {
  position: absolute;
  top: 3px;
  right: 30px;
  min-width: 218px;
}

.ui.floating.message {
  min-width: 218px;
  max-width: 400px;
  float: right;
}
