.login-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 60vh;
  flex-direction: column;
  position: relative;
}
  .login-btn:hover {
    background: #D0214F !important;
    color: #fff !important; 
  }

.login-form {
  box-shadow: 0 0.5px 0 0 #ffffff inset,
  0 1px 2px 0 #B3B3B3;
  padding: 40px;
}